<nb-card>
    <nb-card-header>
      <h3 class="mb-2">Liste Invoice</h3>
    </nb-card-header>
    <nb-card-body>
      <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>reference</th>
            <th>Price</th>
            <th colspan="2" class="text-center">action</th>
        </tr>
        <tr>
            <td>Invoice 1</td>
            <td>AE1234</td>
            <td>23455</td>
            <td><button class="btn btn-warning">Edit</button></td>
            <td><button class="btn btn-danger">Delete</button></td>
        </tr>
        <tr>
            <td>Invoice 2</td>
            <td>AE1234</td>
            <td>23455</td>
            <td><button class="btn btn-warning">Edit</button></td>
            <td><button class="btn btn-danger">Delete</button></td>
        </tr>
        <tr>
            <td>Invoice 3</td>
            <td>AE1234</td>
            <td>23455</td>
            <td><button class="btn btn-warning">Edit</button></td>
            <td><button class="btn btn-danger">Delete</button></td>
        </tr>
      </table>
    </nb-card-body>
  </nb-card>